<template>
    <require from="../resources/elements/todo-add"></require>
    <require from="../resources/elements/todo-filter"></require>
    <require from="../resources/elements/todo-list"></require>

    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">
                <h2 class="center-align">Todo List</h2>

                <todo-add todo-title.bind="todoTitle" todo-completed.bind="todoCompleted" add-callback.call='addTodo($event)'></todo-add>


                <!-- <todo-filter filter-string.bind="filterText"  ></todo-filter> -->
                <todo-list todos.bind="todos" remove-callback.call='removeTodo($event)' update-callback.call='updateTodo($event)' ></todo-list>
            </div>
        </div>

    </div>


</template>
